{% extends "layout.html" %}
{% block conteudo %}
<hr>
<div id="formularios" class="container box-info col-sm-12">
  
  <div class="box-header with-border">
    <h3 class="box-title">Cadastro de Produtos</h3>
  </div>

  <form class="form-horizontal" method="POST" action="/cadusuario ">
    <div class="box-body">
      
      <div class="form-group">
        <label for="inputnomep" class="col-sm-2 control-label"><b>Nome:</b></label>
        <div class="col-sm-12">
          <input name="nomep" type="text" class="form-control" id="inputnomep" placeholder="Nome do Produto"  required autofocus> 
        </div>
      </div>

      <legend>Categoria:</legend>

      <div class="form-group">
        <label for="inputtipo" class="col-sm-2 control-label"><b>Tipo:</b></label>
        <div class="col-sm-12">
          <input name="tipo" type="text" class="form-control" id="inputtipo" placeholder="Tipo ABC"  required>
        </div>
      </div>

      <div class="form-group">
        <label for="inputdescricao" class="col-sm-2 control-label"><b>Descrição:</b></label>
        <div class="col-sm-12">
          <input name="descricao" type="text" class="form-control" id="inputdescricao" placeholder="Tijolo"  required>
        </div>
      </div>

    <div class="box">
      <a href="{{url_for('homepage')}}"><button type="button" class=" btn btn-primary">Cancelar</button><a>
      <button type="submit" class="btn btn-primary pull-right">Salvar</button>
    </div>    
  
  </form>
</div>

<hr>

{% endblock %}