{% extends "layout.html" %}
{% block conteudo %}

<body>
  <div class="py-5 text-center bg-ligth">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4 text-white">CIMENTO</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="/static/img/cimento/apodi.jpg"> </a>
			<p><a class="btn btn-lg btn-primary" href="{{url_for('cadastrarreserva')}}" role="button">Reserve!</a></p>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="/static/img/cimento/nassau.jpg"> </a>
			<p><a class="btn btn-lg btn-primary" href="{{url_for('cadastrarreserva')}}" role="button">Reserve!</a></p>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="/static/img/cimento/poty.jpg"> </a>
			<p><a class="btn btn-lg btn-primary" href="{{url_for('cadastrarreserva')}}" role="button">Reserve!</a></p>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="/static/img/cimento/votoran.jpg"> </a>
			<p><a class="btn btn-lg btn-primary" href="{{url_for('cadastrarreserva')}}" role="button">Reserve!</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}